@media screen and (max-width: 1200px) {
  .hero {
    padding: 190px 0 0;
    .container{
      padding: 0 15px 158px;
    }
    &-wrap{
      width: calc(100% - 30px);
      left: 15px;
      right: 15px;
      margin: 0 auto;
    }
  }
  .banner{
    &-wrap{
      padding: 30px 0 40px 30px;
    }
    &-media{
      width: 100%;
      max-width: 380px;
      background-size: 380px;
      img{
        max-width: 290px;
      }
    }
  }
  .banner{
    &.banner-second{
      .banner-wrap{
        padding: 30px 0 40px 30px;
      }
      .banner-media{
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
      .banner-form{
        max-width: 470px;
        form {
          label{
            max-width: 220px;
          }
        }
      }
    }
  }
  .gallery, .reviews{
    padding: 60px 0;
    &-slider{
      .slick-list{
        width: 100%;
        margin: 0;
      }
    }
  }
  .footer{
    &-contact{
      max-width: 570px;
      &__item{
        margin: 15px 0 10px 14px;

      }
    }
  }
  .header{
    &-logo{
      margin-right: 20px;
    }
    &-nav{
      li{
        margin-right: 15px;
      }
    }
    &-lang{
      margin: -8px 14px 2px 17px;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer{
    &-top{
      .container{
        flex-direction: column;
      }
    }
    &-logo{
      margin: 0 auto 20px;
    }
    &-contact{
      max-width: 100%;
      &__item, &__info{
        max-width: 100%;
        width: 50%;
        margin: 0 0 20px;
      }
    }
  }
  .hero{
    .container {
      padding: 0 15px 285px;
    }
    &-title{
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 12px;
    }
    &-subtitle{
      font-size: 22px;
      line-height: 31px;
      margin-bottom: 12px;
    }
    &-text{
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 28px;
    }
    &-wrap{
      flex-wrap: wrap;
      bottom: -180px;
    }
    &-item{
      width: calc(50% - 30px);
      margin-bottom: 25px;
    }
  }
  .title-section{
    font-size: 26px;
    line-height: 32px;
  }
  .subtitle-section{
    font-size: 17px;
    line-height: 28px;
  }
  .service{
    padding: 242px 0 68px;
    &-item{
      &__desc{
        padding: 19px 23px;
      }
      &__title{
        font-size: 19px;
        line-height: 25px;
      }
    }
  }
  .banner{
    padding: 50px 0;
    &-desc{
      width: 50%;
    }
    &-title{
      font-size: 30px;
      line-height: 36px;
    }
    &-text{
      font-size: 16px;
      line-height: 30px;
      a{
        font-size: 18px;
        line-height: 24px;

        display: block;
        margin-left: 0;
        b{
          font-size: 28px;
          line-height: 38px;
        }
      }
    }
    &-messenger{
      ul{
        flex-direction: column;
      }
      li{
        margin-bottom: 10px;
      }
      a{
        img{
          width: 30px;
        }
      }
    }
  }
  .banner{
    &.banner-second {
      .banner-media{
        z-index: 1;
        width: 40%;
        max-width: 380px;
        background-size: 380px;
        img{
          right: 0;
        }
      }
      .banner-title {
        line-height: 34px;
      }
      .banner-desc{
        position: relative;
        z-index: 2;
        max-width: 450px;
        width: 100%;
      }
      .banner-text{
        max-width: 440px;
      }
    }
  }
  .advantages{
    padding: 60px 0;
    &-item{
      width: calc(50% - 30px);
    }
  }
  .faq {
    padding: 60px 0;
  }
  .contact{
    padding: 60px 0;
    &-info{
      padding-right: 15px;
    }
    &-desc, &-text{
      font-size: 16px;
      line-height: 27px;
    }
    &-text{
      &__phone{
        font-size: 18px;
        line-height: 24px;
        span{
          font-size: 28px;
          line-height: 38px;
        }
      }
      &__email{
        font-size: 19px;
        line-height: 26px;
      }
    }
  }
  .header{
    padding: 20px 0;
    &-logo{
      img{
        max-width: 100px;
      }
    }
    &-nav{
      transition: opacity 300ms ease;
      position: absolute;
      visibility: hidden;
      margin: 0;
      opacity: 0;
      z-index: -1;
      right: 0;
      top: 100%;
      width: 100%;
      max-width: 375px;
      background: #fff;
      ul{
        flex-direction: column;
        width: 100%;
      }
      li{
        margin: 0;
        padding: 17px 20px;
        border-bottom: 1px solid #EAF0FE;
        width: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='15' viewBox='0 0 8 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999999 14L7 7.5L1 1' stroke='%23FF7B0F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: 93% 50%;
        background-repeat: no-repeat;
      }
      a{
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #2F2F2F;
      }
    }
    &-button{
      transition: opacity 300ms ease;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      right: 0;
      top: 394px;
      width: 100%;
      max-width: 375px;
      background: #fff;
      padding: 20px 22px;
      display: flex;
      flex-direction: column;
      &__item{
        display: block;
        width: 100%;
        padding-left: 40px;
        position: relative;
        img{
          position: absolute;
          top: 0;
          left: 0;
        }
        b{
          display: block;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: #2F2F2F;
        }
        span{
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #2F2F2F;
          a{
            color: #2F2F2F;
            &:hover{
              color: #FF7B0F;
            }
          }
        }
      }
      .btn-primary{
        margin: 0 auto 0 0;
      }
    }
    &-lang{
      transition: opacity 300ms ease;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      right: 0;
      top: 621px;
      box-shadow: none;
      width: 100%;
      margin: 0;
      max-width: 375px;
      background: #fff;
      &:hover{
        ul{
          top: 0;
          left: 0;
        }
      }
      &__title{
        display: none;
      }
      ul{
        background: transparent;
        display: flex;
        position: relative;
        opacity: 1;
        visibility: visible;
        top: 0;
        left: 0;
      }
      li{
        margin-right: 10px;
      }
    }
    &-phone{
      position: relative;
      right: 0;
      top: 0;
      margin: 0 0 0 auto;
      a{
        font-size: 16px;
        line-height: 16px;
      }
    }
    &-overlay{
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: all ease 300ms;
      width: 100%;
      height: 100%;
      background: rgba(47,47,47,.2);
    }
    &-title{
      display: block;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: -20px;
      right: 0;
      padding: 34px 0 0 20px;
      width: 100%;
      height: 76px;
      max-width: 375px;
      background: #fff;
      transition: opacity 300ms ease;
    }
    &-btn{
      width: 23px;
      height: 18px;
      position: relative;
      margin-left: 28px;
      &:before, &:after{
        content: '';
        right: 0;
      }
      &:before, &:after, span{
        position: absolute;
        background: #FF7B01;
        height: 1.4px;
        border-radius: 36px;
        transition: all ease 300ms;
      }
      &:before{
        top: 0;
        width: 18px;
      }
      &:after{
        top: calc(100% - 2px);
        width: 14px;
      }
      span{
        width: 23px;
        top: calc(50% - .7px);
      }
      &.active{
        &:before, &:after{
          top: calc(50% - .7px);
          width: 23px;
        }
        &:before{
          transform: rotate(45deg);
        }
        &:after{
          transform: rotate(-45deg);
        }
        span{
          opacity: 0;
        }
      }

    }
    &.active{
      .header-button,
      .header-lang,
      .header-nav{
        opacity: 1;
        visibility: visible;
        z-index: 10;
      }
      .header-title{
        opacity: 1;
        visibility: visible;
      }
      .header-overlay{
        opacity: 1;
        visibility: visible;
        z-index: 9;
      }
    }
  }
}
@media screen and (max-width: 768px) {

  .title-section{
    text-align: left;
  }
  .subtitle-section{
    text-align: left;
  }
  .hero{
    &-item{
      width: calc(100% - 30px);
    }
  }
  .service{
    padding: 242px 0 68px;
    &-item{
      width: 100%;
      flex-basis: calc(100% - 30px);
      max-width: 508px;
      margin: 0 auto 20px;
    }
  }
  .banner{
    &.banner-second {
      .banner-wrap{
        flex-direction: column;
        padding: 26px 35px 0 ;
      }
      .banner-media{
        z-index: 1;
        width: 100%;
        max-width: 100%;
        background-size: 380px;
        background-position: center;
        position: relative;
        img{
          right: 0;
          margin: 0 auto;
          position: relative;
        }
      }
      .banner-desc{
        position: relative;
        z-index: 2;
        max-width: 100%;
        width: 100%;
      }
      .banner-form{
        form {
          flex-direction: column;
          label{
            width: 100%;
            max-width: 100%;
            margin-bottom: 10px;
          }
        }
      }
      .banner-text{
        max-width: 440px;
      }
    }
  }
  .reviews, .gallery {
    .slide{
      padding: 0;
    }
  }
  .faq {
    .subtitle-section{
      max-width: 100%;
    }
    &-item{
      &__title{
        padding: 20px 72px 20px 21px;
        &:after{
          top: 27px;
        }
      }
    }
  }
  .contact{
    &-wrap{
      flex-wrap: wrap;
    }
    .title-section{
      margin-top: 0;
    }
    &-info{
      width: 100%;
      padding-right: 0;
      margin-bottom: 40px;
    }
    &-form{
      margin: 0 auto;
      padding: 25px;
      .btn-primary{
        margin-bottom: 18px;
        width: 100%;
      }
      .form-info{
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 567px) {
  .advantages{
    &-item{
      width: calc(100% - 30px);
    }
  }
}
@media screen and (max-width: 480px) {
  .hero{
    background-position: 50% 0;
    .container{
      padding: 0 15px 375px;
    }
    &-wrap{
      bottom: -280px;
      padding: 30px;
    }
    &-item{
      width: 100%;
    }
  }
  .service{
    padding: 342px 0 50px;
  }

  .banner{
    &.banner-second{
      .banner-media{
        background-size: 280px;
        background-position: center bottom;
        img {
          max-width: 180px;
        }

      }
      .banner-form{
        form{
          button{
            max-width: 100%;
          }
        }
      }
    }

  }
  .footer{
    &-logo{
      img{
        max-width: 144px;
      }
    }
    &-bottom{
      .container{
        flex-direction: column;
        text-align: center;
      }
    }
    &-copy{
      text-align: center;
    }
    &-contact{
      margin:  0 -10px;
      &__item{
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        img{
          position: relative;
          max-width: 32px;
          margin: 0 auto 5px;
        }
      }
      &__info{
        padding: 0 10px;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
@media screen and (max-width: 374px) {
  .banner{
    &.banner-second{
      .banner-media {
        background-size: 210px;
        img{
          max-width: 160px;
        }
      }
    }
  }
  .footer{
    &-top{
      padding: 20px 0 20px;
    }
    &-logo__text{
      margin-top: 0;
      font-size: 16px;
    }
    &-contact{
      margin: 0;
      &__item, &__info{
        width: 100%;
      }
    }
  }
}